{% extends 'base.html' %}
{% block title %}
    Создать пользователя
{% endblock %}
{% block content %}
    <div class="createUser">
        <form action="{% url 'userCreate' %}" method="post">
            {% csrf_token %}
            <h3 class="formTitle">Добавление пользователя</h3>
            {% if userFound %}
                <p class="errorForm">Пользователь с логином {{ userFound }} уже существует</p>
            {% endif %}
            {% if emailFound %}
                <p class="errorForm">Пользователь с такой почтой уже существует</p>
            {% endif %}
            {% if passwordCheck %}
                <p class="errorForm">Пароли не совпадают</p>
            {% endif %}
            <div class="formItem"><label for="">Логин</label><input type="text" name="username" required></div>
            <div class="formItem"><label for="">Имя</label><input type="text" name="first_name" required></div>
            <div class="formItem"><label for="">Фамилия</label><input type="text" name="last_name" required></div>
            <div class="formItem"><label for="">Эл.почта</label><input type="email" name="email" required></div>
            <div class="formItem"><label for="">Пароль</label><input type="password" name="password1" required></div>
            <div class="formItem"><label for="">Пароль(повтор)</label><input type="password" name="password2" required>
            </div>
            <select name="group" id="">
                {% for group in groups %}
                    <option value="{{ group.id }}">{{ group }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="signButton">Создать</button>
        </form>
    </div>
{% endblock %}