<div class="formWrapper">
    <form action="{% url 'examCreate' %}" method="post">
        {% csrf_token %}
        <div class="labelItem">
            <label for="code">Код теста</label>
            <select name="code" id="code">
                {% for code in codes %}
                    <option value="{{ code.pk }}">{{ code.number }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="labelItem">
            <label for="group">Группа</label>
            <select name="group" id="group">
                {% for userGroup in userGroups %}
                    <option value="{{ userGroup.pk }}">{{ userGroup.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="labelItem">
            <label for="">Время начала</label>
            <div class="inputItem">
                <input type="date" name="dateStart_0">
                <input type="time" name="dateStart_1">
            </div>
        </div>

        <div class="labelItem">
            <label for="">Время завершения</label>
            <div class="inputItem">
                <input type="date" name="dateEnd_0">
                <input type="time" name="dateEnd_1">
            </div>
        </div>
        <button type="submit" class="signButton">Создать</button>
    </form>
</div>